.root {
  width: 800px;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.title {
  color: #ff1493;
}
.linkCustom:hover{ 
   box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}
@media (max-width: 800px) {
  .root {
    width: 100vw;
    height: auto;
    justify-content: center;
  }
  .title {
    margin-right: 1rem;
  }
}
