.root {
  width: 800px;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid hsl(218, 17%, 62%);
}
.title {
  color: hsl(4, 99%, 66%);
}
@media (max-width: 800px) {
  .root {
    width: 100vw;
    height: auto;
    justify-content: center;
  }
  .title {
    margin-right: 1rem;
  }
}
